In [1]:
%load_ext sql
%sql sqlite:///Data//mubi_db.sqlite

### Acces the database and look at the tables

#### Table Names

In [4]:
%%sql

SELECT name
FROM sqlite_master
WHERE type = 'table';

 * sqlite:///Data//mubi_db.sqlite
Done.

[('movies',), ('ratings_users',), ('lists_users',), ('lists',), ('ratings',)]

#### movies table

In [8]:
%%sql

PRAGMA table_info(movies);

 * sqlite:///Data//mubi_db.sqlite
Done.

[(0, 'movie_id', 'INTEGER', 0, None, 0),
 (1, 'movie_title', 'TEXT', 0, None, 0),
 (2, 'movie_release_year', 'REAL', 0, None, 0),
 (3, 'movie_url', 'TEXT', 0, None, 0),
 (4, 'movie_title_language', 'TEXT', 0, None, 0),
 (5, 'movie_popularity', 'INTEGER', 0, None, 0),
 (6, 'movie_image_url', 'TEXT', 0, None, 0),
 (7, 'director_id', 'TEXT', 0, None, 0),
 (8, 'director_name', 'TEXT', 0, None, 0),
 (9, 'director_url', 'TEXT', 0, None, 0)]

In [10]:
%%sql

SELECT COUNT(DISTINCT movie_id)
FROM movies;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(226575,)]

over 225K movies!

In [3]:
%%sql

SELECT *
FROM movies
LIMIT 5;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(1, 'La Antena', 2007.0, 'http://mubi.com/films/la-antena', 'en', 105, 'https://images.mubicdn.net/images/film/1/cache-7927-1581389497/image-w1280.jpg', '131', 'Esteban Sapir', 'http://mubi.com/cast/esteban-sapir'),
 (2, 'Elementary Particles', 2006.0, 'http://mubi.com/films/elementary-particles', 'en', 23, 'https://images.mubicdn.net/images/film/2/cache-512179-1581389841/image-w1280.jpg', '73', 'Oskar Roehler', 'http://mubi.com/cast/oskar-roehler'),
 (3, "It's Winter", 2006.0, 'http://mubi.com/films/its-winter', 'en', 21, 'https://images.mubicdn.net/images/film/3/cache-7929-1481539519/image-w1280.jpg', '82', 'Rafi Pitts', 'http://mubi.com/cast/rafi-pitts'),
 (4, 'Kirikou and the Wild Beasts', 2005.0, 'http://mubi.com/films/kirikou-and-the-wild-beasts', 'en', 46, 'https://images.mubicdn.net/images/film/4/cache-7930-1568880017/image-w1280.jpg', '89, 90', 'Michel Ocelot, Bénédicte Galup', 'http://mubi.com/cast/michel-ocelot, http://mubi.com/cast/benedicte-galup'),
 (5, 'Padre Nuestro', 2007.0, 'http://mubi.com/films/padre-nuestro', 'en', 7, 'https://images.mubicdn.net/images/film/5/cache-7931-1581390636/image-w1280.jpg', '92', 'Christopher Zalla', 'http://mubi.com/cast/christopher-zalla')]

#### ratings_users table

In [11]:
%%sql

PRAGMA table_info(ratings_users);

 * sqlite:///Data//mubi_db.sqlite
Done.

[(0, 'user_id', 'INTEGER', 0, None, 0),
 (1, 'rating_date_utc', 'TEXT', 0, None, 0),
 (2, 'user_trialist', 'INTEGER', 0, None, 0),
 (3, 'user_subscriber', 'INTEGER', 0, None, 0),
 (4, 'user_avatar_image_url', 'TEXT', 0, None, 0),
 (5, 'user_cover_image_url', 'TEXT', 0, None, 0),
 (6, 'user_eligible_for_trial', 'INTEGER', 0, None, 0),
 (7, 'user_has_payment_method', 'INTEGER', 0, None, 0)]

In [12]:
%%sql

SELECT COUNT(DISTINCT user_id)
FROM ratings_users;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(451757,)]

Over 450K users!

In [4]:
%%sql

SELECT *
FROM ratings_users
LIMIT 5;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(41579158, '2017-06-10', 0, 0, 'https://assets.mubicdn.net/images/avatars/74283/images-w150.jpg?1523895155', None, 1, 0),
 (68654088, '2012-10-02', 0, 0, 'https://assets.mubicdn.net/images/avatars/27714/images-w150.jpg?1523889463', None, 1, 1),
 (84114365, '2010-12-25', 0, 0, 'https://assets.mubicdn.net/images/avatars/1808/images-w150.jpg?1523883471', None, 1, 0),
 (29755671, '2010-11-15', 0, 0, '//mubi.com/assets/placeholders/avatar-c68833eec06a12b110c74dd2fa1709ae983ead021e695f886dcfafda0da3c6ed.png', None, 1, 0),
 (93302487, '2010-01-05', 0, 0, 'https://assets.mubicdn.net/images/avatars/12246/images-w150.jpg?1523885889', None, 1, 0)]

#### lists_users table

In [13]:
%%sql

PRAGMA table_info(lists_users);

 * sqlite:///Data//mubi_db.sqlite
Done.

[(0, 'user_id', 'INTEGER', 0, None, 0),
 (1, 'list_id', 'INTEGER', 0, None, 0),
 (2, 'list_update_date_utc', 'TEXT', 0, None, 0),
 (3, 'list_creation_date_utc', 'TEXT', 0, None, 0),
 (4, 'user_trialist', 'INTEGER', 0, None, 0),
 (5, 'user_subscriber', 'INTEGER', 0, None, 0),
 (6, 'user_avatar_image_url', 'TEXT', 0, None, 0),
 (7, 'user_cover_image_url', 'TEXT', 0, None, 0),
 (8, 'user_eligible_for_trial', 'INTEGER', 0, None, 0),
 (9, 'user_has_payment_method', 'INTEGER', 0, None, 0)]

In [18]:
%%sql

SELECT COUNT(DISTINCT list_id)
FROM lists_users;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(80311,)]

In [5]:
%%sql

SELECT *
FROM lists_users
LIMIT 5;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(85981819, 1969, '2019-11-26', '2009-12-18', 1, 1, 'https://assets.mubicdn.net/images/avatars/74983/images-w150.jpg?1523895214', None, 0, 1),
 (85981819, 3946, '2020-05-01', '2010-01-30', 1, 1, 'https://assets.mubicdn.net/images/avatars/74983/images-w150.jpg?1523895214', None, 0, 1),
 (85981819, 6683, '2020-04-12', '2010-03-31', 1, 1, 'https://assets.mubicdn.net/images/avatars/74983/images-w150.jpg?1523895214', None, 0, 1),
 (85981819, 8865, '2018-12-14', '2010-05-10', 1, 1, 'https://assets.mubicdn.net/images/avatars/74983/images-w150.jpg?1523895214', None, 0, 1),
 (85981819, 13796, '2019-11-26', '2010-08-25', 1, 1, 'https://assets.mubicdn.net/images/avatars/74983/images-w150.jpg?1523895214', None, 0, 1)]

#### lists table

In [34]:
%%sql

PRAGMA table_info(lists);

 * sqlite:///Data//mubi_db.sqlite
Done.

[(0, 'user_id', 'INTEGER', 0, None, 0),
 (1, 'list_id', 'INTEGER', 0, None, 0),
 (2, 'list_title', 'TEXT', 0, None, 0),
 (3, 'list_movie_number', 'INTEGER', 0, None, 0),
 (4, 'list_update_timestamp_utc', 'TEXT', 0, None, 0),
 (5, 'list_creation_timestamp_utc', 'TEXT', 0, None, 0),
 (6, 'list_followers', 'INTEGER', 0, None, 0),
 (7, 'list_url', 'TEXT', 0, None, 0),
 (8, 'list_comments', 'INTEGER', 0, None, 0),
 (9, 'list_description', 'TEXT', 0, None, 0),
 (10, 'list_cover_image_url', 'TEXT', 0, None, 0),
 (11, 'list_first_image_url', 'TEXT', 0, None, 0),
 (12, 'list_second_image_url', 'TEXT', 0, None, 0),
 (13, 'list_third_image_url', 'TEXT', 0, None, 0)]

In [36]:
%%sql

SELECT *
FROM lists
LIMIT 5;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(85981819, 1969, '250 Favourite Films', 250, '2019-11-26 03:20:17', '2009-12-18 13:04:48', 23, 'http://mubi.com/lists/250-favourite-films', 5, '<p>In a loose order, but an order nonetheless.</p>', 'https://assets.mubicdn.net/images/film/115/image-w1280.jpg?1527166442', 'https://assets.mubicdn.net/images/film/115/image-w320.jpg?1527166442', 'https://assets.mubicdn.net/images/film/3664/image-w320.jpg?1546228811', 'https://assets.mubicdn.net/images/film/187/image-w320.jpg?1552467202'),
 (85981819, 3946, 'Films that should be better known', 181, '2020-05-01 05:54:39', '2010-01-30 16:27:27', 308, 'http://mubi.com/lists/films-that-should-be-better-known', 11, '<p>These are the films that need to be in more Top 100 lists, films that should be part of the curriculum. Obscure films unite!</p>', 'https://assets.mubicdn.net/images/film/20780/image-w1280.jpg?1585404208', 'https://assets.mubicdn.net/images/film/20780/image-w320.jpg?1585404208', 'https://assets.mubicdn.net/images/film/19167/image-w320.jpg?1481140405', 'https://assets.mubicdn.net/images/film/23056/image-w320.jpg?1587129201'),
 (85981819, 6683, 'Films by country (completely stolen from Glemaud)', 179, '2020-04-12 08:31:35', '2010-03-31 08:55:10', 32, 'http://mubi.com/lists/films-by-country-completely-stolen-from-glemaud', 5, '<p>Being a compulsive listmaker, cinéphile and geography nut, it was only a matter of time before this list happened. As the title declares, this was pretty much taken wholesale from <a href="http://mubi.com/users/19259" rel="nofollow">Glemaud</a>, whom I must thank for the inspiration.</p>', 'https://assets.mubicdn.net/images/film/40676/image-w1280.jpg?1445889126', 'https://assets.mubicdn.net/images/film/40676/image-w320.jpg?1445889126', 'https://assets.mubicdn.net/images/film/99891/image-w320.jpg?1554805813', 'https://assets.mubicdn.net/images/film/32597/image-w320.jpg?1512428978'),
 (85981819, 8865, 'Play it cool.', 56, '2018-12-14 14:53:41', '2010-05-10 08:18:40', 10, 'http://mubi.com/lists/play-it-cool', 1, '<p>A work in progress…</p>\n<p>This is intended to be a hall of fame for the films that are too cool for school… the films that wear sunglasses indoo ... (33 characters truncated) ... s. These films will be remembered far beyond their time, and rightly so.</p>\n<p>Boo-yah.</p>\n<p>List is in chronological order for some reason.</p>', 'https://assets.mubicdn.net/images/film/11573/image-w1280.jpg?1566186489', 'https://assets.mubicdn.net/images/film/11573/image-w320.jpg?1566186489', 'https://assets.mubicdn.net/images/film/25451/image-w320.jpg?1445870950', 'https://assets.mubicdn.net/images/film/1418/image-w320.jpg?1481541252'),
 (85981819, 13796, 'Cinemalism (work in progress)', 121, '2019-11-26 03:20:23', '2010-08-25 14:23:56', 43, 'http://mubi.com/lists/cinemalism-work-in-progress', 3, '<p>An ongoing list collecting the best in minimalist cinema, whether it manifests itself in editing, photography, sound, content or all of the above.</p>', 'https://assets.mubicdn.net/images/film/113749/image-w1280.jpg?1498808248', 'https://assets.mubicdn.net/images/film/113749/image-w320.jpg?1498808248', 'https://assets.mubicdn.net/images/film/160533/image-w320.jpg?1476739407', 'https://assets.mubicdn.net/images/film/95112/image-w320.jpg?1515779779')]

In [38]:
%%sql

SELECT 
    list_id,
    list_followers,
    list_movie_number
FROM lists
ORDER BY list_followers DESC
LIMIT 10;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(5512, 4914, 534),
 (7482, 4604, 1178),
 (6657, 3644, 971),
 (108835, 3566, 1000),
 (16625, 2749, 936),
 (18729, 2461, 2455),
 (10286, 2449, 45),
 (66024, 2433, 1568),
 (557, 2398, 490),
 (115, 2332, 364)]

#### ratings table

In [2]:
%%sql

PRAGMA table_info(ratings);

 * sqlite:///Data//mubi_db.sqlite
Done.

[(0, 'movie_id', 'INTEGER', 0, None, 0),
 (1, 'rating_id', 'INTEGER', 0, None, 0),
 (2, 'rating_url', 'TEXT', 0, None, 0),
 (3, 'rating_score', 'REAL', 0, None, 0),
 (4, 'rating_timestamp_utc', 'TEXT', 0, None, 0),
 (5, 'critic', 'TEXT', 0, None, 0),
 (6, 'critic_likes', 'INTEGER', 0, None, 0),
 (7, 'critic_comments', 'INTEGER', 0, None, 0),
 (8, 'user_id', 'INTEGER', 0, None, 0),
 (9, 'user_trialist', 'INTEGER', 0, None, 0),
 (10, 'user_subscriber', 'INTEGER', 0, None, 0),
 (11, 'user_eligible_for_trial', 'INTEGER', 0, None, 0),
 (12, 'user_has_payment_method', 'INTEGER', 0, None, 0)]

In [3]:
%%sql

SELECT *
FROM ratings
LIMIT 5;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(1066, 15610495, 'http://mubi.com/films/pavee-lackeen-the-traveller-girl/ratings/15610495', 3.0, '2017-06-10 12:38:33', None, 0, 0, 41579158, 0, 0, 1, 0),
 (1066, 10704606, 'http://mubi.com/films/pavee-lackeen-the-traveller-girl/ratings/10704606', 2.0, '2014-08-15 23:42:31', None, 0, 0, 85981819, 1, 1, 0, 1),
 (1066, 10177114, 'http://mubi.com/films/pavee-lackeen-the-traveller-girl/ratings/10177114', 2.0, '2014-01-30 13:21:57', None, 0, 0, 4208563, 0, 0, 1, 1),
 (1066, 10130280, 'http://mubi.com/films/pavee-lackeen-the-traveller-girl/ratings/10130280', 3.0, '2014-01-19 01:04:23', "I am a bit disappointed by this documentary film I've been wanting to watch for years as it is way less informative than I had imagined and rather cheaply made technically speaking. Otherwise it is O.K. and rather interesting.", 0, 0, 9820140, 0, 0, 1, 0),
 (1066, 8357049, 'http://mubi.com/films/pavee-lackeen-the-traveller-girl/ratings/8357049', 4.0, '2012-10-02 18:28:47', None, 0, 0, 68654088, 0, 0, 1, 1)]

In [6]:
%%sql

SELECT COUNT(DISTINCT rating_id)
FROM ratings;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(15519997,)]

This is a really big table, and this query took a long time to execute. That might cause some problems

In [7]:
%%sql

SELECT 
    rating_score,
    COUNT(rating_id)
FROM ratings
GROUP BY rating_score
ORDER BY rating_score;

 * sqlite:///Data//mubi_db.sqlite
Done.

[(None, 26731),
 (1.0, 771057),
 (2.0, 1723743),
 (3.0, 4156587),
 (4.0, 5271049),
 (5.0, 3570838)]

Creating an index on the rating_id column to make queries in this table faster.

In [2]:
%%sql

CREATE INDEX index_name
ON ratings(rating_id);

 * sqlite:///Data//mubi_db.sqlite
Done.

[]